body {
  text-align: center;
  font-family: helvetica;
}

/* Global */
ul {
  margin: 0;
  padding: 0;
}

header a,
#link a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

/*header */
header {
  background: url("../images/the-flatiron-building.png") no-repeat center;
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

/* container */

#container h2 {
  font-size: 32px;
  font-weight: bold;
}

#container h3 {
  font-size: 23px;
  font-weight: bold;
}

#container p {
  font-size: 14px;
}

#designed h3 {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  background: url("../images/the-flatiron-building.png") center;
  background-size: cover;
}

/* footer */

footer {
  background-color: dimgray;
  color: #fff;
  margin-bottom: auto;
  text-align: left;
}

#copyrights p {
  margin-top: 5px;
  margin-right: 5px;
  padding: auto;
  float: left;
}

#link li {
  display: inline;
}
